{% extends "base.html" %}
{% block title %}Detalles de {{ revista.titulo }}{% endblock %}
{% block body %}
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ revista.titulo.strip().title() }}</h1>
                {% if mensaje %}
                    <p class="mensaje-error">{{ mensaje }}</p>
                {% endif %}
                <div class="row">
                    <div class="col-md-4">
                        <!-- Imagen o widget de la revista -->
                        <div class="widget-container">
                            {{ revista.widget | safe }}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Detalles de la revista -->
                        <p class="card-text"><b>ID:</b> {{ revista.id }}</p>
                        <p class="card-text"><b>Áreas:</b> {{ areas_traducidas | join(', ') }}</p>
                        <p class="card-text"><b>Catálogos:</b> {{ revista.catalogos | join(', ') }}</p>
                        <p class="card-text"><b>H-Index:</b> {{ revista.h_index or 'N/A' }}</p>
                        <p class="card-text"><b>Sitio Web:</b> <a href="{{ revista.sitio_web }}" target="_blank">{{ revista.sitio_web }}</a></p>
                        <p class="card-text"><b>Publisher:</b> {{ revista.publisher or 'No disponible' }}</p>
                        <p class="card-text"><b>ISSN:</b> {{ revista.issn or 'No disponible' }}</p>
                        <p class="card-text"><b>Tipo de Publicación:</b> {{ revista.publication_type or 'No disponible' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
{% endblock %}